#piemenu1 > svg, #piemenu2 > svg, #piemenu3 > svg, #piemenu4 > svg #piemenu5 > svg {
    width: 100%;
    height: 100%;
}


#piemenu1, #piemenu2, #piemenu3, #piemenu4, #piemenu5 {
    height: 600px;
    width: 600px;
    margin: auto;
}

@media (max-width: 400px) {
    #piemenu1, #piemenu2, #piemenu3, #piemenu4, #piemenu5 {
        height: 300px;
        width: 300px;
    }
}

[class|=wheelnav-piemenu1-line], [class|=wheelnav-piemenu2-line], [class|=wheelnav-piemenu3-line]
, [class|=wheelnav-piemenu4-line], [class|=wheelnav-piemenu5-line] {
    stroke: #555;
    stroke-width: 0px;
    visibility: hidden;
}

[class|=wheelnav-piemenu1-slice-basic], [class|=wheelnav-piemenu2-slice-basic], [class|=wheelnav-piemenu3-slice-basic]
, [class|=wheelnav-piemenu4-slice-basic], [class|=wheelnav-piemenu5-slice-basic] {
    stroke: none;
    fill: #497F4C;
}

[class|=wheelnav-piemenu1-slice-selected], [class|=wheelnav-piemenu2-slice-selected], [class|=wheelnav-piemenu3-slice-selected]
, [class|=wheelnav-piemenu4-slice-selected], [class|=wheelnav-piemenu5-slice-selected] {
    stroke: none;
    fill: #497F4C;
}

[class|=wheelnav-piemenu1-slice-hover], [class|=wheelnav-piemenu2-slice-hover], [class|=wheelnav-piemenu3-slice-hover]
, [class|=wheelnav-piemenu4-slice-hover], [class|=wheelnav-piemenu5-slice-hover] {
    fill: #497F4C;
    stroke: none;
    fill-opacity: 0.77;
    cursor: pointer;
}

[class|=wheelnav-piemenu1-title-selected], [class|=wheelnav-piemenu2-title-selected], [class|=wheelnav-piemenu3-title-selected]
, [class|=wheelnav-piemenu4-title-selected], [class|=wheelnav-piemenu5-title-selected] {
    fill: #333;
    stroke: none;
}

[class|=wheelnav-piemenu1-title-basic], [class|=wheelnav-piemenu2-title-basic], [class|=wheelnav-piemenu3-title-basic]
, [class|=wheelnav-piemenu4-title-basic], [class|=wheelnav-piemenu5-title-basic] {
    fill: #333;
    stroke: none;
}

[class|=wheelnav-piemenu1-title-hover], [class|=wheelnav-piemenu2-title-hover], [class|=wheelnav-piemenu3-title-hover]
, [class|=wheelnav-piemenu4-title-hover], [class|=wheelnav-piemenu5-title-hover] {
    fill: black;
    stroke: none;
    cursor: pointer;
}

[class|=wheelnav-piemenu1-title] > tspan, [class|=wheelnav-piemenu2-title] > tspan, [class|=wheelnav-piemenu3-title] > tspan
, [class|=wheelnav-piemenu4-title] > tspan, [class|=wheelnav-piemenu5-title] > tspan {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
}

.wheelnav-piemenu1-spreader-in, .wheelnav-piemenu1-spreader-out {
    fill: #444;
    stroke: #444;
    stroke-width: 2;
    cursor: pointer;
}

.wheelnav-piemenu1-spreadertitle-in, .wheelnav-piemenu1-spreadertitle-out {
    fill: #eee;
    stroke: #444;
    cursor: pointer;
}

#test {
    fill: black;
}