table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

tbody button {
    display: block;
}

#divControls {
    width: 200px;
}

input {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.acting, .acting * {
    background-color: lightgreen;
}

.awaitingINI .inpIni {
    background-color: lightblue;
}

.finished, .finished * {
    background-color: lightgray;
}

.waiting, .waiting * {
    background-color: yellow;  
}

.participant .btnAct, .participant .btnWait {
    display: none;
}

.waiting .btnAct, .acting .btnWait, .acting .btnAct {
    display: inline-block;
}

.dead, .dead * {
    background-color: darkred !important;
}

#spanCT, #spanIT {
    font: bolder;
    font-size: 14px;
}
