<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-xl-10">
      <div class="col-xs-6" style="padding-left: 0">
        <div class="left">
          <button type="button" class="btn btn-primary" (click)="btnStartRound_Click()" *ngIf="!started">
            {{"Start Round" | translate}}
          </button>
          <button type="button" class="btn btn-primary" (click)="btnNextPass_Click()" *ngIf="started && passEnded">
            {{"Next Pass" | translate}}
          </button>
          <button type="button" class="btn btn-danger" (click)="btnReset_Click()">
            {{"Reset" | translate}}
          </button>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="right">
          <button id="btnUndo" type="button" class="btn btn-warning" (click)="btnUndo_Click(p)" title="Undo">
            B
          </button> 
          <button id="btnRedo" type="button" class="btn btn-warning" (click)="btnRedo_Click(p)" title="Redo">
            B
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-9 col-xl-10">
      <div class="row bg-info">
        <div class="col-xs-4 col-lg-2"><h4><b>{{"Name" | translate}}</b></h4></div>
        <div class="col-xs-2 col-lg-1 text-center"><h4><b>{{"Ini" | translate}}</b></h4></div>
        <div class="col-xs-3 col-lg-1 text-center"><h4><b>{{"Dice Roll" | translate}}</b></h4></div>
        <div class="col-xs-3 col-lg-1 text-center"><h4><b>{{"Base Ini" | translate}}</b></h4></div>
      </div>

      <div class="row participant" attr.id="participant{{i}}" [attr.data-indexnr]="i" [attr.data.participant]="p" 
          (click)="selectActor(p)" [ngClass]="getParticipantStyles(p)" *ngFor="let p of participants.items let i = index let last = last">
        <div class="col-xs-4 col-lg-2">
          <input id="name" name="name" type="text" placeholder="Name" class="form-control" (keydown)="inpName_KeyDown($event)"
            [(ngModel)]="p.name">
        </div>
        <div class="col-xs-2 col-lg-1 text-center">
          <label class="control-label lblIni" for="ini">{{getInitiative(p)}} </label>
        </div>
        <div class="col-xs-3 col-lg-1 text-center">
          <input class="form-control inpDiceIni text-center" name="diceIni" type="number" (keydown)="inpDiceIni_KeyDown($event)" (focus)="inp_Focus($event)"
            (input)="iniChange($event, p)" [(ngModel)]="p.diceIni" #field="ngModel" [min]="0">
        </div>
        <div class="col-xs-3 col-lg-1 text-center">
          <input class="form-control text-center inpBaseIni" name="baseIni" type="number" (focus)="inp_Focus($event)"  (keydown)="inpBaseIni_KeyDown($event)" [(ngModel)]="p.baseIni">
        </div>
        <div class="col-xs-9 col-lg-4"><!--action-->
          <button type="button" class="btn btn-default" (click)="btnRollInitative_Click(p)" *ngIf="!started">
            {{"Roll Initiative" | translate}}
          </button>
          <button type="button" class="btn btn-default" (click)="btnEdge_Click(p)" *ngIf="!p.edge && (!started || (passEnded && getInitiative(p) > 10))">
            {{"Seize Initiative" | translate}}
          </button>
          <button type="button" class="btn btn-default" (click)="btnAct_Click(p)" *ngIf="started && (p.status == 1 || p.status == 2)">
            {{"Action" | translate}}
          </button>
          <button type="button" class="btn btn-default" (click)="btnDelay_Click(p)" *ngIf="started && p.status == 1">
            {{"Delay" | translate}}
          </button>
          <div class="btn-group" dropdown *ngIf="started && getInitiative(p) >= 1">
            <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
              {{"Interrupts" | translate}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu role="menu" class="dropdown-menu" aria-labelledby="single-button">
              <li role="menuitem" class="buffer" *ngFor="let action of p.actions.persistentInterrupts">
                <label class="dropdown-item btn btn-default btn-block" [class.active]="p.actions[action.key]">
                  <input type="checkbox" class="hide" [(ngModel)]="p.actions[action.key]" (click)="btnAction_Click(p, action, true)" [disabled]="started && p.actions[action.key]">
                  {{action.key | translate}}
                </label>
              </li>
              <li role="menuitem" class="buffer" *ngFor="let action of p.actions.normalInterrupts">
                <button type="button" class="dropdown-item btn btn-default btn-block" (click)="btnAction_Click(p, action, false)">
                  {{action.key | translate}}
                </button>
              </li>
            </ul>
          </div>
        </div><!--action bar-->
        <div class="col-xs-3 col-lg-3 text-right">
          <button type="button" class="btn btn-primary btn-duplicate" (click)="btnDuplicate_Click(p)">
          </button>
          <button type="button" class="btn btn-primary" *ngIf="p.ooc" (click)="btnEnterCombat_Click(p)">
            <span class="glyphicon glyphicon-log-in"></span>
          </button>
          <button type="button" class="btn btn-warning" *ngIf="!p.ooc" (click)="btnLeaveCombat_Click(p)">
            <span class="glyphicon glyphicon-log-out"></span>
          </button>
          <button type="button" class="btn btn-danger" (click)="btnDelete_Click(p)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <span *ngIf="last">{{ngReady()}}</span>
      </div><!--endrow-->
      <div>
        <div colspan="8">
          <button type="submit" class="btn btn-primary" (click)="btnAddParticipant_Click()"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
      <div>
        <div colspan="8">{{"Turn" | translate}} {{combatTurn}}, {{"Pass" | translate}} {{initiativeTurn}}</div>
      </div>
    </div>

    <div class="col-xs-3 col-xl-2 detailsBar">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{selectedActor.name || "Selected Actor" | translate}}</h3></div>
        <div class="panel-body">
          <ul class="nav nav-tabs text-right">
            <li role="presentation" class="dropdown">
              <a class="button dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Details <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a data-toggle="tab" href="#conditionMonitor">{{"Condition Monitor" | translate}}</a></li>
                <li><a data-toggle="tab" href="#options">{{"Options" | translate}}</a></li>
                <li><a data-toggle="tab" href="#log">{{"Log" | translate}}</a></li>
              </ul>
            </li>
          </ul>
          <div class="tab-content">
            <div id="conditionMonitor" class="tab-pane fade active in">
              <h4>{{"Condition Monitor" | translate}}</h4>
              <div class="row">
                <div class="col-lg-6">
                  <h4>Physical</h4>
                  <app-condition-monitor 
                    [health]="selectedActor.physicalHealth" 
                    [overflow]="selectedActor.overflowHealth" 
                    [painPolerance]="selectedActor.painTolerance" 
                    [(ngModel)]="selectedActor.physicalDamage">
                  </app-condition-monitor>
                </div>
                <div class="col-lg-6">
                  <h4>Stun</h4>
                  <app-condition-monitor [health]="selectedActor.stunHealth" [painPolerance]="selectedActor.painTolerance" [(ngModel)]="selectedActor.stunDamage"></app-condition-monitor>
                </div>
              </div>
            </div>
            <div id="options" class="tab-pane fade">
              <h4>{{"Options" | translate}}</h4>
              <div class="row">
                <div class="col-xs-12">
                  <label>{{"Overflow" | translate}}</label>
                </div>
                <div class="col-xs-12">
                  <range-slider [(ngModel)]="selectedActor.overflowHealth" min="0" max="20" step="1"></range-slider>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label>{{"Physical Health" | translate}}</label>
                </div>
                <div class="col-xs-12">
                  <range-slider [(ngModel)]="selectedActor.physicalHealth" min="1" max="20" step="1"></range-slider>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label>{{"Stun Health" | translate}}</label>
                </div>
                <div class="col-xs-12">
                  <range-slider [(ngModel)]="selectedActor.stunHealth" min="1" max="20" step="1"></range-slider>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label>{{"Pain Tolerance" | translate}}</label>
                </div>
                <div class="col-xs-12">
                  <range-slider [(ngModel)]="selectedActor.painTolerance" min="0" max="20" step="1"></range-slider>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label>{{"Pain Editor" | translate}}</label>
                </div>
                <div class="col-xs-12">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="selectedActor.hasPainEditor" />
                      <span class="slider round"></span>
                    </label>                  
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label>{{"Dices" | translate}}</label>
                </div>
                <div class="col-xs-12">
                  <range-slider [(ngModel)]="selectedActor.dices" min="1" max="5" step="1"></range-slider>
                </div>
              </div>

            </div>
            <!-- <div id="log" class="tab-pane fade">
              <h4>{{"Log" | translate}}</h4>
              <div class="row">
              </div>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9 col-xl-10">
      <button id="btnLogToggle" class="btn btn-primary" data-toggle="collapse" data-target="#globalLog">Log</button>
      <div id="globalLog" class="collapse">
        <table>
          <tr *ngFor="let l of logHandler.log">
            {{l.text}}
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>