tr {
    background: white;
}

.row {
}

div {
    padding-top: 2px;
    padding-bottom: 2px;
}

#btnLogToggle {
    margin-top: 5vh;
}

.detailsBar {
    right: 0;
    top: 10vh;
    position: fixed;
    height: 80vh;
    overflow: auto
}

#btnRedo {
    background-image: url("assets/undo.svg");
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#btnUndo {
    background-image: url("assets/undo.svg");
}

#btnUndo, #btnRedo {
    background-size: 80% auto;
    background-position: center;
    background-repeat: no-repeat;
    fill: black;
    height: 100%;
    color: rgba(0, 0, 0, 0.0);
    user-select: none;

}

.btn-duplicate {
    background-image: url("assets/duplicate.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    height: 34px;
    width: 40px;
}

.participant {
    border: 3px solid white;
    border-radius: 5px;
}

.right {
    right: 0;
    position: absolute;
}

.acting, .acting > * {
    background: rgba(100, 255, 100, 1);
}

.noIni .inpDiceIni {
    background: rgba(100, 150, 255, 1);
}

.finished, .finished > * {
    background: rgba(160, 160, 160, 1);
}

.delaying, .delaying > * {
    background: rgba(255, 255, 150, 1)
}

.negativeIni, .negativeIni > * {
    background: rgba(160, 160, 160, 1);
}

.selected {
    border: 3px solid cornflowerblue;
    border-radius: 5px;
}

.edged .lblIni::after {
    content: 'e';
}


.ooc, .ooc > * {
    background: rgba(255, 0, 0, 1);
}

.innertable {
    background: transparent;
    padding: 0;
    margin: 0;
}

.innertable thead {
    display: none;
}

.innertable td, .innertable th {
    border: none;
}

.smcol {
    max-width: 10vw;
}