<div class="container-fluid">
  <div class="row">
    <div class="buffer-top">
      <button type="button" class="btn btn-warning" (click)="btnUndo_Click(p)">
        {{"Undo" | translate}}
      </button>
      <button type="button" class="btn btn-warning" (click)="btnRedo_Click(p)">
        {{"Redo" | translate}}
      </button>
    </div>
    <div class="buffer-top">
      <button type="button" class="btn btn-primary" (click)="btnStartRound_Click()" *ngIf="!started">
        {{"Start Round" | translate}}
      </button>
      <button type="button" class="btn btn-primary" (click)="btnNextPass_Click()" *ngIf="started && passEnded">
        {{"Next Pass" | translate}}
      </button>
      <button type="button" class="btn btn-danger" (click)="btnReset_Click()">
        {{"Reset" | translate}}
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-striped table-bordered table-responsive" id="tblBattleTracker">
        <thead>
          <tr class="info">
            <th>{{"Name" | translate}}</th>
            <th class="text-center">{{"Ini" | translate}}</th>
            <th class="text-center">{{"Dice Roll" | translate}}</th>
            <th class="text-center">{{"Base Ini" | translate}}</th>
            <th class="text-left">{{"Actions" | translate}}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr [attr.data-indexnr]="selectIndex(i)" (click)="selectActor(p)" [ngClass]="getParticipantStyles(p)" *ngFor="let p of participants.items; let i = index">
            <td class="col-md-2">
              <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" (keydown)="inpName_KeyDown($event)"
                [(ngModel)]="p.name">
            </td>
            <td class="col-md-1 text-center">
              <label class="control-label lblIni" for="ini">{{getInitiative(p)}} </label>
            </td>
            <td class="col-md-1 text-center">
              <input class="form-control inpIni text-center" name="ini" type="number" (keydown)="inpIni_KeyDown($event)" (focus)="inp_Focus($event)"
                (input)="iniChange($event, p)" [(ngModel)]="p.diceIni" #field="ngModel" [min]="0">
            </td>
            <td class="col-md-1 text-center">
              <input class="form-control text-center" name="base" type="number" (focus)="inp_Focus($event)" [(ngModel)]="p.baseIni">
            </td>
            <td>
              <button type="button" class="btn btn-default" (click)="btnRollInitative_Click(p)" *ngIf="!started">
                {{"Roll Initiative" | translate}}
              </button>
              <button type="button" class="btn btn-default" (click)="btnEdge_Click(p)" *ngIf="!p.edge && (!started || (passEnded && getInitiative(p) > 10))">
                {{"Seize Initiative" | translate}}
              </button>
              <button type="button" class="btn btn-default" (click)="btnAct_Click(p)" *ngIf="started && (p.status == 1 || p.status == 2)">
                {{"Action" | translate}}
              </button>
              <button type="button" class="btn btn-default" (click)="btnDelay_Click(p)" *ngIf="started && p.status == 1">
                {{"Delay" | translate}}
              </button>
              <div class="btn-group" dropdown *ngIf="started && getInitiative(p) >= 1">
                <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                  {{"Interrupts" | translate}} <span class="caret"></span>
                </button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button">
                  <li role="menuitem" class="buffer" *ngFor="let action of p.actions.persistentInterrupts">
                    <label class="dropdown-item btn btn-default btn-block" [class.active]="p.actions[action.key]">
                      <input type="checkbox" class="hide" [(ngModel)]="p.actions[action.key]" (click)="actnBtn_Click()" [disabled]="started && p.actions[action.key]">
                      {{action.key | translate}}
                    </label>
                  </li>
                  <li role="menuitem" class="buffer" *ngFor="let action of p.actions.normalInterrupts">
                    <button type="button" class="btn btn-default btn-block" (click)="actnBtn_Click(p, action)">
                      {{action.key | translate}}
                    </button>
                  </li>
                  <li role="menuitem" class="buffer">
                    <label class="dropdown-item btn btn-default btn-block">
                      Test
                    </label>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-default" (click)="btnEnterCombat_Click(p)" *ngIf="p.ooc">
                {{"Enter Combat" | translate}}
              </button>
              <button type="button" class="btn btn-default" (click)="btnLeaveCombat_Click(p)" *ngIf="!p.ooc">
                {{"Leave Combat" | translate}}
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-danger" (click)="btnDelete_Click(p)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="8">
              <button type="submit" class="btn btn-primary" (click)="btnAddParticipant_Click()"><span class="glyphicon glyphicon-plus"></span></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">{{"Turn" | translate}} {{combatTurn}}, {{"Pass" | translate}} {{initiativeTurn}}</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="col-md-2 detailsBar">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{selectedActor.name}}</h3></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h4>Physical</h4>
              <app-condition-monitor 
                [health]="selectedActor.physicalHealth" 
                [overflow]="selectedActor.overflowHealth" 
                [painPolerance]="selectedActor.painTolerance" 
                [(ngModel)]="selectedActor.physicalDamage">
              </app-condition-monitor>
            </div>
            <div class="col-md-6">
              <h4>Stun</h4>
              <app-condition-monitor [health]="selectedActor.stunHealth" [painPolerance]="selectedActor.painTolerance" [(ngModel)]="selectedActor.stunDamage"></app-condition-monitor>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>{{"Overflow" | translate}}</label>
            </div>
            <div class="col-md-7">
              <input type="range" min="0" max="20" step="1" [(ngModel)]="selectedActor.overflowHealth" />
            </div>
            <div class="col-md-5">
              <input class="form-control input-sm text-center" name="overflowHealth" type="number" (focus)="inp_Focus($event)" [(ngModel)]="selectedActor.overflowHealth">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>{{"Physical Health" | translate}}</label>
            </div>
            <div class="col-md-7">
              <input type="range" min="1" max="20" step="1" [(ngModel)]="selectedActor.physicalHealth" />
            </div>
            <div class="col-md-5">
              <input class="form-control input-sm text-center" name="physicalHealth" type="number" (focus)="inp_Focus($event)" [(ngModel)]="selectedActor.physicalHealth">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>{{"Stun Health" | translate}}</label>
            </div>
            <div class="col-md-7">
              <input type="range" min="1" max="20" step="1" [(ngModel)]="selectedActor.stunHealth" />
            </div>
            <div class="col-md-5">
              <input class="form-control input-sm text-center" name="stunHealth" type="number" (focus)="inp_Focus($event)" [(ngModel)]="selectedActor.stunHealth">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>{{"Dices" | translate}}</label>
            </div>
            <div class="col-md-7">
              <input type="range" min="1" max="5" step="1" [(ngModel)]="selectedActor.dices" />
            </div>
            <div class="col-md-5">
              <input class="form-control input-sm text-center" name="dices" type="number" (focus)="inp_Focus($event)" [(ngModel)]="selectedActor.dices">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>{{"Pain Tolerance" | translate}}</label>
            </div>
            <div class="col-md-7">
              <input type="range" min="0" max="10" step="1" [(ngModel)]="selectedActor.painTolerance" />
            </div>
            <div class="col-md-5">
              <input class="form-control input-sm text-center" name="painTolerance" type="number" (focus)="inp_Focus($event)" [(ngModel)]="selectedActor.painTolerance">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>