tr {
    background: white;
}

.selected > * {
    border: none;
}

.selected {
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .2s ease-out; 

   -webkit-transform:scale(1.02);
   -moz-transform:scale(1.02);
   -o-transform:scale(1.02);
    transform:scale(1.02);
    transform:scale(1.02);
}


.acting, .acting > * {
    background: rgba(0, 255, 0, 0.5);
}

.noIni .inpIni {
    background: rgba(0, 128, 255, 0.5);
}

.finished, .finished > * {
    background: rgba(128, 128, 128, 0.5);
}

.delaying, .delaying > * {
    background: rgba(255, 255, 0, 0.5)
}

.negativeIni, .negativeIni > * {
    background: rgba(128, 128, 128, 0.5);
}

.edged .lblIni::after {
    content: 'e';
}


.ooc, .ooc > * {
    background: rgba(255, 0, 0, 0.5);
}

.innertable {
    background: transparent;
    padding: 0;
    margin: 0;
}

.innertable thead {
    display: none;
}

.innertable td, .innertable th {
    border: none;
}

.smcol {
    max-width: 10vw;
}