tr {
    background: white;
}

.selected > * {
    border: none;
}

.selected {
    transition: transform .2s ease-in-out; 
    transform:scale(1.02);
}


.acting, .acting > * {
    background: rgba(0, 255, 0, 0.5);
}

.noIni .inpIni {
    background: rgba(0, 128, 255, 0.5);
}

.finished, .finished > * {
    background: rgba(128, 128, 128, 0.5);
}

.delaying, .delaying > * {
    background: rgba(255, 255, 0, 0.5)
}

.negativeIni, .negativeIni > * {
    background: rgba(128, 128, 128, 0.5);
}

.edged .lblIni::after {
    content: 'e';
}


.ooc, .ooc > * {
    background: rgba(255, 0, 0, 0.5);
}

.innertable {
    background: transparent;
    padding: 0;
    margin: 0;
}

.innertable thead {
    display: none;
}

.innertable td, .innertable th {
    border: none;
}

.smcol {
    max-width: 10vw;
}