input {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.acting, .acting * {
    background-color: lightgreen;
}

.awaitingINI .baseIni {
    background-color: lightblue;
}

.finished, .finished * {
    background-color: lightgray;
}

.waiting, .waiting * {
    background-color: #ffff66;  
}

.negativeIni, .negativeIni * {
    background-color: lightgray;  
}

.participant .btnAct, .participant .btnWait {
    display: none;
}

.waiting .btnAct, .acting .btnWait, .acting .btnAct {
    display: inline-block;
}

.dead, .dead * {
    background-color: #ff6b66 !important;
}

.btnRevive {
    display: none;
}

.dead .btnRevive {
    display: initial;
}

.btnDie {
    display: initial;
}

.dead .btnDie {
    display: none;
} 

.edge .effIni::after {
    content: ' e';
}

.started .btnDelete, .started #btnStart {
    display: none;
}

.started .btnEdge {
    display: none !important;
}

#infopanel, #paging {
    display: block;
    height: initial;
    margin-left: 1vw;
}

#infopanel > *{
    vertical-align: middle !important;
}

#btnNextInitiativePass {
    display: none;
}