*, *:before, *:after { box-sizing: border-box; }

body { font-family: sans-serif; }

@media (min-width: 600px) {
  body { }
}

.range-slider { width: 100%; }

.range-slider__input {
  display: inline-block;
  width: 100%;
  background: transparent;
  border: none;
  -moz-appearance: textfield;
}

.range-slider__input::-webkit-inner-spin-button,
.range-slider__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.range-slider__value {
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background: #337ab7;
}

input::-moz-focus-inner,
input::-moz-focus-outer { border: 0; }

.slider.slider-horizontal {
  width: 100%;
}
